$red = #EF2917
$blue = #1C0FDB

@import 'https://fonts.googleapis.com/css?family=Roboto:400,300|Ubuntu:300,400,600';
$font1 = 'Ubuntu'
$font2 = 'Roboto'

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.slick-track
        height 100vh
body
	width 100%
	float left
	padding 0
	margin 0
	top 0
	left 0
        a
                text-decoration:  none;
                color white

#header
        width 100%
        float left
        position fixed
        box-shadow 1px 1px 10px black
        z-index 99
        .header-st-row
                width 100%
                float left
                line-height 30px
                font-family: $font1
                padding 0% 5%
                background-color: darken($blue, 50%)
                .st-divider
                        width 50%
                        float left
                        .nd-divider
                                width 50%
                                float left
                                span
                                        font-size 0.9em
                                        color white
                                        margin 1%
                                i
                                        color white
                                        font-size 1em
                                        margin 1%
        .header-bar
                width 100%
                float left
                padding 0% 5%
                background-color rgba(255, 255, 255, 0.9);
                .header-logo
                        width 12%
                        float left
                        img
                                width 100%
                                float left
                                padding 10%
                .header-menu
                        width 88%
                        float left
                        text-align center
                        nav
                                width 100%
                                float left
                                padding 2.5% 0% 0% 0%
                                ul
                                        list-style none
                                        li
                                                display inline-block
                                                margin 0% 25px
                                                transition all 200ms
                                                padding 0
                                                text-align center

                                                a
                                                        text-decoration none
                                                        color darken($red, 20%)
                                                        font-family $font2
                                                        text-transform uppercase
                                                        font-size 1.2em
                                                        transition all 500ms
                                                        font-weight: 600
                                                        padding 1%
                                                        position relative
                                                        &:after
                                                                content: " "
                                                                width 50px
                                                                height 2px
                                                                background-color transparent
                                                                bottom 0
                                                                left 1px
                                                                position absolute
                                                                transition all 500ms
                                                        &:hover
                                                                color darken($blue, 50%)
                                                                &:after
                                                                        background-color darken($blue, 50%)
#home
        width 100%
        float left
        .slider-container
                width 100%
                float left
                .slider
                        width 100%
                        float left
                        height 100vh
                        .slider1
                                background-image: url(../img/slide1.jpg);
                                background-size cover
                                background-position center center
                        .slider2
                                background-image: url(../img/slide2.jpg);
                                background-size cover
                                background-position center center
                        .slider3
                                background-image: url(../img/slide3.jpg);
                                background-size cover
                                background-position center center
                        .item
                                width 100%
                                float left
                                height: 100%
                                .slider-shadow
                                        width 100%
                                        float: left;
                                        height 100%
                                        background-color rgba(0, 0, 0, 0.5);
                                .slider-presentation
                                        width 100%
                                        float left
                                        padding 22% 5% 0% 5%
                                        text-align center
                                        .first
                                                width 100%
                                                float left
                                                font-size 3em
                                                text-shadow 1px 1px 5px black
                                                font-family $font1
                                                color white
                                        .second
                                                width 100%
                                                float left
                                                font-size 1.8em
                                                font-family $font2
                                                text-shadow 1px 1px 5px black
                                                color white
                                        .link
                                                width 100%
                                                float left
                                                margin 6% 0% 0% 0%
                                                a
                                                        padding 1% 2%
                                                        border solid 2px white
                                                        text-decoration none
                                                        font-family: $font2
                                                        color white
                                                        transition all 500ms
                                                .red
                                                        &:hover
                                                                box-shadow: 1px 1px 5px darken($red, 40%)
                                                                background-color darken($red, 40%)
                                                                border darken($red, 40%)
                                                .blue
                                                        &:hover
                                                                box-shadow: 1px 1px 5px darken($blue, 40%)
                                                                background-color darken($blue, 40%)
                                                                border darken($blue, 40%)

                .controllers
                        width 100%
                        float left
                        position absolute
                        top 55%
                        left 0%
                        padding 0% 2%
                        background-color transparent
                        .control
                                width 2em
                                height 2em
                                border-radius 50%
                                font-size 2em
                                padding .55em
                        .prev
                                color white
                                float left
                                box-shadow 0px 0px 5px darken($red, 50%)

                        .next
                                float right
                                color white
                                box-shadow 0px 0px 5px darken($blue, 50%)
#school
        width 100%
        float left
        padding 1% 5%
        border-bottom solid 1px grey
        .school-content
                width 100%
                float left
                padding 0
                margin 0
                h2
                        font-family $font1
                        color #555555
                        font-size 2.2em
                        span
                                color $red

                        margin 0
                .school-divider
                        width 33.333%
                        float left
                        padding 1%
                        text-align center
                        transition all 500ms
                        font-weight: 600
                        .divider-presentation
                                width 100%
                                float left
                                .fa
                                        font-size 3em
                                        padding 1em
                                        border-radius 50%
                                        border solid 2px $red
                                        color $red
                                h3
                                        font-family: $font1
                                        color $red
                                        font-size 1.7em
                                        padding 1%
                        .divider-content
                                width 100%
                                float left
                                font-family $font2
                                color #959595
                                font-weight: 300
                                .divider-link
                                        width 100%
                                        float left
                                        margin-top 5%
                                        a
                                                padding 0.2em 1em
                                                color $red
                                                border solid 2px $red
                                                text-decoration none
                                                font-family $font1
                                                transition all 500ms
                                                border-radius 4px
                                                span
                                                        margin 0% 1%
                                                &:hover
                                                        color white
                                                        background-color $red
                                                        box-shadow 1px 1px 5px $red
#method
        width 100%
        float left
        background-image: url(../img/parallax5.jpg)
        background-size cover
        background-position center top
        .method-shadow
                width 100%
                float  left
                height 100%
                background-color rgba(255, 255, 255, 0.7);
                padding 2% 5%
                .method-content
                        width 100%
                        float left
                        .method-presentation
                                width 100%
                                float left
                                text-align center
                                h2
                                        font-family $font1
                                        font-size 2.2em
                                        color rgba(0, 0, 0, .7)
                                        span
                                            color darken($blue, 40%)
                        .method-excerpt
                            width 60%
                            float left
                            padding 1%
                            border-right solid 1px rgba(0, 0, 0, .7)
                            .tipping
                                font-size 1.2em
                                font-family $font2
                                color rgba(0, 0, 0, .9)
                                font-weight 300
                                line-height 1.3em
                                span
                                    color darken($blue, 40%)
                                    font-family $font1
                                    font-weight 600
                        .method-links
                            width 40%
                            float left
                            padding 25% 7% 3% 7%
                            a
                                width 100%
                                float left
                                margin 2% 0%
                                .link
                                    width 100%
                                    float left
                                    padding 2% 0%
                                    text-align center
                                    border solid 2px darken($blue, 40%)
                                    color darken($blue, 40%)
                                    font-family $font1
                                    border-radius 10px
                                    position relative
                                    transition all 500ms
                                    &:hover
                                        background-color darken($blue, 40%)
                                        box-shadow  0px 0px 5px darken($blue, 40%)
                                        color white
                                        i
                                            color white

                                    span
                                        text-align center
                                    i
                                        position absolute
                                        left 15px
                                        color transparent
                                        transition 500ms
                                        font-size 1.2em
#teachers
        width 100%
        float left
        padding 2% 5%
        .teachers-presentation
                width 100%
                float left
                text-align center
                h2
                        font-family $font1
                        font-size 2.2em
                        color rgba(0, 0, 0, .7)
                        span
                                color $red
        .teachers-content
                width 100%
                float left
                padding 2% 0%
                text-align center
                .teachers-profile
                        width 33.333%
                        float left
                        padding 2%
                        .teachers-pic
                                width 15em
                                height 15em
                                border solid 2px $red
                                margin 0% auto
                                border-radius 50%
                                background-image url(../img/teacher5.jpg)
                                background-size cover
                                background-position center center
                                .teachers-pic-shadow
                                        width 100%
                                        float left
                                        height 100%
                                        background-color rgba(0, 0, 0, .5)
                                        opacity 0
                                        padding 60% 10% 20% 10%
                                        border-radius 50%
                                        transition all 500ms
                                        &:hover
                                                opacity 1
                                        .teachers-social
                                                width 33.333%
                                                float left
                                                text-align center
                                                transition all 500ms
                                                a
                                                        font-size 1em
                                                        color white
                                                        text-decoration none
                                                        padding 1em
                                                        border-radius 50%
                                                        border solid 1px white
                                                        transition all 500ms
                                                        &:hover
                                                                background-color $red
                                                                border $red
                                                                box-shadow 0px 0px 5px $red
                                                .fa-facebook
                                                        padding 1em 1.2em
                                                .fa-linkedin
                                                        padding 1em 1.05em
                        .teachers-name
                                width 100%
                                float left
                                margin 1% 0% 5% 0%
                                span
                                        font-family $font1
                                        color $red
                                        font-size 1.5em
                        .teachers-excerpt
                                width 100%
                                float left
                                margin 1% 0% 5% 0%
                                span
                                        font-family $font2
                                        font-size 1em
                                        color #6e6e6e
#contact
        width 100%
        float left
        padding 2% 5%
        .contact-presentation
                width 100%
                float left
                h2
                        font-size 2.2em
                        font-family $font1
                        color rgba(0, 0, 0, .7)
                        span
                                color darken($blue, 40%)
        .contact-content
                width 100%
                float left
                text-align center
                .contact-left
                        width 70%
                        float left
                        padding 2% 0%
                        border-right solid 1px darken($blue, 40%)
                        .contact-info
                                width 33.333%
                                float left
                                color #6e6e6e
                                font-family $font2
                                transition all 500ms
                                &:hover
                                        color darken($blue, 40%)
                        .center
                                border-right solid 1px darken($blue, 40%)
                                border-left solid 1px darken($blue, 40%)
                        .contact-social
                                width 100%
                                float left
                                margin 2% 0% 0% 0%
                                .contact-social-icon
                                        width 25%
                                        float left
                                        padding 2%  0% 1% 0%
                                        .fa
                                                text-decoration none
                                                color darken($blue, 40%)
                                                padding 1em
                                                border solid 1px darken($blue, 40%)
                                                border-radius 50%
                                                transition all 500ms
                                                font-size 1.8em
                                                &:hover
                                                        background-color darken($blue, 40%)
                                                        box-shadow 0px 0px 5px darken($blue, 40%)
                                                        color white
                                        .fa-facebook
                                                padding 1em 1.2em
                                        .fa-linkedin
                                                padding 1em 1.05em
                                        .fa-youtube
                                                padding 1.05em
                .contact-right
                        width 30%
                        float left
                        padding 1%
